<div class="chart">
	<div class="controls">
		<span class="title">Crunch Series</span>
		<div class="form-inline" style="margin-top: 5px;">
			<input type="text" placeholder="creator" ng-model="creator" /> / <input type="text" placeholder="uid" ng-model="uid" /> : <input type="text" placeholder="rev" style="width: 50px;" ng-model="rev" /> <a href="javascript:;" class="btn btn-success" ng-click="buildSeries(creator, uid, rev, 'time')">Build</a>
		</div>
	</div>
	<div ng-init="init()" class="container">
		<div class="canvas"></div>
	</div>
</div>