<div class="graph no-select" ng-mouseup="mouseup($event)" ng-mousemove="mousemove($event)">
	<div class="controls" ng-init="init()">
		<div ng-hide="btnGroups">Loading...</div>
		<div class="btn-group" ng-repeat="group in btnGroups">
			<a class="btn dropdown-toggle" href="javascript:;">
				{{group.title}}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="btn in group.stats">
					<a href="javascript:;" ng-click="addNode(btn)">{{btn}}</a>
				</li>
			</ul>
		</div>

		<a href="javascript:;" class="btn btn-primary" ng-click="loadSpot=true">Controls</a>
	</div>
	<div class="display">
		<svg class="canvas">
			<path stroke="black" stroke-width="5" fill="transparent" ng-repeat="conn in connections" ng-model="conn" d="{{conn.d}}"></path>
			<path stroke="cornflowerblue" stroke-dasharray="5" stroke-width="2" ng-model="guideLine" ng-show="guideLine" d="{{guideLine}}"></path>
		</svg>
		<div class="nodes">
			<div class="node" ng-repeat="(node_pos, node) in nodes" node-pos="{{node_pos}}" style="left: {{node.x}}; top: {{node.y}}px;">
				<a class="closeBtn" href="javascript:;" ng-click="destroyNode(node)">X</a>
				<div class="header" ng-mousedown="selectNode(node, $event)">{{node.title}}</div>
				<table class="options">
					<tr>
						<td class="inputs">
							<table>
								<tr ng-repeat="(i, input) in node.inputs" pos="{{i}}">
									<td><div ng-model="input" class="handle {{input.style}}" ng-mouseover="selectInput($event, node, i)" ng-mouseout="clearInput()" ng-mousedown="removeInputConnection(node, i)"></div></td>
									<td>{{input.name}}</td>
								</tr>
							</table>
						</td>
						<td class="settings">
							<table>
								<tr ng-repeat="setting in node.settings">
									<td ng-click="toggleEdit(setting)">{{setting.name}}</td>
									<td><font color="blue" ng-show="setting.isPublic">{{setting.publicName}}</font></td>
									<td><input type="text" style="float: left;" ng-model="setting.val" value="{{setting.val}}"></td>
								</tr>
							</table>
						</td>
						<td class="outputs">
							<table>
								<tr ng-repeat="(i, output) in node.outputs" pos="{{i}}">
									<td>{{output.name}}</td>
									<td><div class="handle" style="float: right;" ng-mousedown="selectOutput($event, node, i)"></div></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div modal="loadSpot">
			<div class="modal-header"><h3>Crunch Series : <a href="javascript:;" ng-click="rename()">{{uid}}</a></h3></div>
			<div class="modal-body">
				<div class="form-inline">
					<strong>Load: </strong>
					<input type="text" class="input-small" style="height: auto;" placeholder="Search" onkeyup="{{loadSearch()}}" ng-model="loadSearchInput"/>
				</div>
				<ul>
					<li ng-repeat="file in loadSearchRes">
						{{file.uid}} :: {{file.revision}} :: <a href="javascript:;" ng-click="load(file.uid, file.revision);">load</a> :: <a href="javascript:;" ng-click="loadNode(file.uid, file.revision);">load node</a>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="clear(); rename(); loadSpot=false;">New</button>
				<button class="btn btn-primary" ng-click="save(uid)">Save</button>
				<button class="btn btn-primary" ng-click="rename(); save(uid);">Save As</button>
				<button class="btn btn-primary" ng-click="serialize();">Serialize</button>
				<button class="btn btn-primary" ng-click="nodes=[]; connections=[];">Clear</button>
				<button class="btn btn-primary" ng-click="loadSpot=false">Cancel</button>
			</div>
		</div>
	</div>
</div>