<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"></script>

		<style>
		.chart {
			margin-top: 10px;
			float: left;
			width: 800px;
			height: 200px;
			clear: both;
		}
		span {
			float: left;
			clear: both;
		}
		</style>
	</head>
	<body>
		<!-- <div id="chart1"></div> -->
		<script>
		$(function () {
			$.ajax({
				url: 'http://localhost:8080/api/calc?symbol=GOOG&begin=0&end=1364968853&1_stat=ACD&2_stat=AROON_UP&3_stat=SMA&4_stat=STDV&5_stat=PB',
				success: function (data) {
					var series = [];

					for (var i = 0; i < data.length; ++i) {
						var title = document.createElement('span');
						title.innerHTML = data[i].name;
						document.body.appendChild(title);

						var doc = document.createElement('div');
						doc.className = 'chart';
						document.body.appendChild(doc);

						var series = [];// data[i].results;
						var ticks = [];
						for (var j = 0; j < data[i].results.length; ++j) {
							last = data[i].results[j][0];
							series.push([j, data[i].results[j][1]]);
							ticks.push(data[i].results[j][0] * 1000);
						}

						function formTicks(val, ticks) {
							var tick = ticks[val];

							if ( tick != undefined ) {
								tick = new Date( tick );

								var hours = tick.getHours(),
									minutes = tick.getMinutes();

									tick = hours+':'+minutes;
							}
							else { tick = ''; }

							return tick;
						}

						var markings = [],
						firstDay = new Date( ticks[0] ).getDate();

						for (var n=1; n<ticks.length; n++) {
							var loopDay = new Date( ticks[n] ).getDate();
							if ( loopDay != firstDay ) {
								var marking = {
									color: '#000000',
									lineWidth: 1,
									xaxis: { from: n, to: n }
								}

								markings.push( marking )

								firstDay = loopDay; // loop through all days
							}
						}

						$.plot(doc, [series], {
							xaxis:{
								tickFormatter: function(val) { return formTicks(val, ticks); }
							},
							grid: {markings: markings}
						});
					}
				}
			})
		});
		</script>
	</body>
</html>