.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	padding: none !important;
	margin: none !important;
}
.graph {
	position: relative;
	overflow: hidden;
	min-width: 800px;
	min-height: 400px;
}
.graph .display {
	position: absolute;
	top: 41px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.graph .nodes, .graph .canvas {
	width: 5000px;
	height: 800px;
	overflow: hidden;
	position: absolute;
}
.graph .node {
	font-size: 12px;
	position: absolute;
	background: rgb(241, 241, 241);
	overflow: hidden;
	border: solid 1px rgb(54, 54, 54);
}
.graph .node .closeBtn {
	position: absolute;
	top: 2;
	left: 2;
	font-size: 8px;
}
.graph .node .header {
	font-size: 14px;
	clear: both;
	padding: 2px;
	text-align: center;
	font-weight: bold;
}
.graph .node .options {
	overflow: hidden;
	padding: 10px 0;
}

.graph .node .outputs, .graph .node .inputs {
	padding-top: 5px;
}
.graph .node table {
	font-size: 14px;
}
.graph .node .input, .graph .node .output {
	width: 100%;
	float: left;
	clear: both;
}
.graph .node .settings {
	min-width: 100px;
	padding: 5px 10px;
}
.graph .node .settings input {
	max-width: 50px;
	border-radius: 0px;
	margin: 0 5px 0 0;
}
.graph .node .handle {
	width: 10px;
	height: 10px;
	float: left;
	border: solid black 2px;
	margin: 1px;
}

.graph .node .handle.add {
	background: white;
}

.graph .node .handle.remove {
	background: red;
}

.graph .node .handle.filled {
	background: black;
}

.graph .node .handleMsg {
	float: left;
	padding: 0 5px;
}

.graph table tr {
	vertical-align: top;
	height: 15px;
}

.graph .alerts {
	position: fixed;
	top: 60px;
	right: 15px;
	width: 400px;
}

.graph .canvas .connection {
	stroke: rgba(0, 0, 0, .2);
	stroke-width: 5;
	fill: transparent;
}