<!DOCTYPE html>
<html>
<head>
	<title>Graph Builder</title>
	<link href="lib/bootstrap-combined.min.css" rel="stylesheet" />
	<link href="main.css" rel="stylesheet">
	<link href="graph.css" rel="stylesheet">
	<script src="lib/jquery-2.0.2.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="lib/ui-bootstrap-tpls.min.js"></script>
	<script src="lib/jquery.flot.min.js"></script>
	<script src="lib/jquery.blockUI.js"></script>
</head>
<body ng-app="App">
<div ng-controller="GraphController" class="graph no-select" ng-mouseup="mouseup($event)" ng-mousemove="mousemove($event)">
	<div class="controls" ng-init="init()">
		<span class="title">Crunch Series</span>
		<a href="javascript:;" class="btn btn-info" ng-click="save()">Save <span ng-show="uid">"{{uid}}"</span></a>
		<a href="javascript:;" class="btn btn-info" ng-click="newGraph()">New</a>
		<a href="javascript:;" class="btn btn-info" ng-click="openModal=true">Open</a>
		
		<div ng-hide="btnGroups">Loading...</div>
		<div class="btn-group" ng-repeat="group in btnGroups">
			<a class="btn dropdown-toggle" href="javascript:;">
				{{group.title}} <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li ng-repeat="btn in group.stats">
					<a href="javascript:;" ng-click="addNode(btn)">{{nodeInfo[btn].title}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="display no-select">
		<svg class="canvas">
			<path class="connection" ng-repeat="conn in connections" ng-model="conn" d="{{conn.d}}"></path>
			<path stroke="cornflowerblue" stroke-dasharray="5" stroke-width="2" ng-model="guideLine" ng-show="guideLine" d="{{guideLine}}"></path>
		</svg>
		<div class="nodes">
			<div class="node" ng-repeat="(node_pos, node) in nodes" node-pos="{{node_pos}}" style="left: {{node.x}}px; top: {{node.y}}px;">
				<a class="closeBtn" href="javascript:;" ng-click="destroyNode(node)">X</a>
				<div class="header" ng-mousedown="selectNode(node, $event)">{{node.title}}</div>
				<table class="options">
					<tr>
						<td class="inputs">
							<table>
								<tr ng-repeat="(i, input) in node.inputs" pos="{{i}}">
									<td><div ng-model="input" class="handle" ng-class="input.style" ng-mouseover="selectInput($event, node, i)" ng-mouseout="clearInput()" ng-mousedown="removeInputConnection(node, i)"></div></td>
									<td>{{input.name}}</td>
								</tr>
							</table>
						</td>
						<td class="settings">
							<table>
								<tr ng-repeat="setting in node.settings">
									<td ng-click="toggleEdit(setting)">{{setting.name}}</td>
									<td><font color="blue" ng-show="setting.isPublic">{{setting.publicName}}</font></td>
									<td><input type="text" style="float: left;" ng-model="setting.val" value="{{setting.val}}"></td>
								</tr>
							</table>
						</td>
						<td class="outputs">
							<table>
								<tr ng-repeat="(i, output) in node.outputs" pos="{{i}}">
									<td>{{output.name}}</td>
									<td><div class="handle" style="float: right;" ng-mousedown="selectOutput($event, node, i)"></div></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="alerts">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>

	<div modal="saveModalSpecifyName">
		<div class="modal-header"><h3>Specify Name for Graph</h3></div>
		<div class="modal-body">
			<div class="form-inline">
				Name: <input type="text" ng-model="newUid" style="height: auto;" />
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="checkNewUid();">Save</button>
			<button class="btn btn-info" ng-click="saveModalSpecifyName=false">Cancel</button>
		</div>
	</div>

	<div modal="saveModalOverride">
		<div class="modal-header"><h3>Overriding Graph</h3></div>
		<div class="modal-body">
			A graph with that name already exists, are you sure you want to override it?
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="save(true);">Yes</button>
			<button class="btn btn-info" ng-click="saveModalOverride=false; saveModalSpecifyName=true;">No</button>
		</div>
	</div>

	<div modal="newModalWarning">
		<div class="modal-header"><h3>Possible loss of unsaved work</h3></div>
		<div class="modal-body">All unsaved changes will be discarded</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="newGraph(true)">New</button>
			<button class="btn btn-info" ng-click="newModalWarning=false">Cancel</button>
		</div>
	</div>

	<div modal="openModalWarning">
		<div class="modal-header"><h3>Possible loss of unsaved work</h3></div>
		<div class="modal-body">All unsaved changes will be discarded</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="load(openInfo.uid, openInfo.revision)">Open</button>
			<button class="btn btn-info" ng-click="openModalWarning=false">Cancel</button>
		</div>
	</div>

	<div modal="openModal">
		<div class="modal-header"><h3>Open</h3></div>
		<div class="modal-body">
			<div class="form-inline">
				<input type="text" style="height: auto;" placeholder="Search" ng-model="openModalSearch" onkeyup="{{search()}}" />
			</div>
			<div style="max-height: 300px; overflow: auto; padding-top: 10px;">
				<table class="table table-hover" ng-show="openModalSearchRes.length">
					<thead>
						<tr>
							<th>Creator</th>
							<th>Name</th>
							<th>Graph</th>
							<th>Node</th>
							<th># of Nodes</th>
							<th>Revision</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="res in openModalSearchRes">
							<td>{{res.creator}}</td>
							<td>{{res.uid}}</td>
							<td>
								<a href="javascript:;" ng-click="loadConfirm(res)">open</a>
							</td>
							<td>
								<a href="javascript:;" ng-click="loadNode(res.uid, res.revision)">add</a>
							</td>
							<td>{{res.revisions[res.revision].node_count}}</td>
							<td>
								<select ng-model="res.revision" ng-options="rev.revision as (rev.revision + ' :: ' + (rev.timestamp*1000 | date)) for rev in res.revisions" style="width: 150px;">
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-info" ng-click="openModal=false">Cancel</button>
		</div>
	</div>
</div>
<script src="graph.js"></script>
</body>
</html>