.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.graph {
	position: relative;
	overflow: hidden;
}
.graph .controls {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	background: rgb(238, 238, 238);
	height: 30px;
	border-bottom: solid 1px black;
}
.graph .display {
	position: absolute;
	top: 41px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.graph .nodes, .graph .canvas {
	width: 5000px;
	height: 800px;
	overflow: hidden;
	position: absolute;
}
.graph .node {
	font-size: 12px;
	position: absolute;
	background: rgb(241, 241, 241);
	overflow: hidden;
	border: dashed 1px rgb(54, 54, 54);
}
.graph .node .closeBtn {
	position: absolute;
	top: 2;
	left: 2;
	font-size: 8px;
}
.graph .node .header {
	font-size: 14px;
	clear: both;
	padding: 2px;
	text-align: center;
	background: rgb(206, 206, 206);
}
.graph .node .options {
	overflow: hidden;
	padding: 10px 0;
}
.graph .node table {
	font-size: 14px;
}
.graph .node .input, .graph .node .output {
	width: 100%;
	float: left;
	clear: both;
}
.graph .node .settings {
	min-width: 100px;
	padding: 5px 10px;
}
.graph .node .settings input {
	max-width: 100px;
}
.graph .node .handle {
	width: 15px;
	height: 15px;
	background: black;
	float: left;
}

.graph .node .handle.add {
	background: white;
}

.graph .node .handle.remove {
	background: red;
}

.graph .node .handleMsg {
	float: left;
	padding: 0 5px;
}